fastapi
uvicorn[standard]
python-multipart
python-dotenv
pandas
sqlalchemy>=2.0
psycopg2-binary
sqlglot
langchain
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
timm>=1.0
# LLM providers
langchain-openai
langchain-groq
